<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <h2>Express-Dev-Skills</h2>
    <a href="/skills">Go to skills</a><br>
    <a href="/skills/new">Add new skills</a>
  </body>
</html>
